body {
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
  }
  .wrap {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #BBDEFB;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 300px;
    height: 300px;
    position: relative;
    perspective: 1000px;
    z-index: 9;
  }

.card::before {
    content: "🌸 С 8 Марта 🌸" ;
    position: absolute;
    top: -30px;
    left: 80px;
}
.card::after {
    content: "Жмякни на меня" ;
    position: absolute;
    bottom: -30px;
    left: 80px;
}

  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  .front {
    background-color: #12c2e9;
    display: flex;
  }


  .back {
    background-color: #12c2e9;
    transform: rotateY(180deg);
    text-align: center;
  }
  /* .card:active .front {transform: rotateY(180deg);}
  .card:active .back {transform: rotateY(360deg);} */

.fron180 {
    transform: rotateY(180deg);
}

.back360 {
    transform: rotateY(360deg);
}
.illo {
    /* padding-top: 30px; */
}

@media  screen and (min-width:800px) {
    /* .illo {
        width: 800px;
        height: 800px;
    } */
}